---
name: Reminder

on:
  schedule:
    - cron: '0 12 * * *'
   
  workflow_dispatch:

permissions:
  issues: write

jobs:
  reminder:
    runs-on: ubuntu-latest

    steps:
      - name: check reminders and notify
        uses: agrc/reminder-action@v1
